img.logo {
    display: block;
    width: 80%;
    margin: 50px auto auto auto;
}

div.upload {
    width: 50px;
    margin: 50px auto 0 auto;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}